body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

h1 {
    margin-top: 20px;
    color: #ff0000;
}

img {
    border: 5px solid #333;
    margin-top: 20px;
}
